.btn {
 @apply border px-4 py-2 rounded-lg m-2 cursor-pointer
}

.btn-primary {
    @apply bg-green-300 hover:bg-green-500
}

.btn-secondary {
    @apply bg-cyan-300 hover:bg-cyan-500

}

.btn-neutral {
    @apply bg-gray-300 hover:bg-gray-500

}

.btn-danger {
    @apply bg-red-300 hover:bg-red-500

}
.btn-warning{
    @apply bg-yellow-300 hover:bg-yellow-500

}
